<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="trace" xsi:type="Trace"  layout="${longdate} ${level} ${message}"/>
    <target name="ds" xsi:type="Debug"  layout="${longdate} ${level} ${message}"/>
    <target name="c" xsi:type="Console"  layout="${shortdate} ${level}> ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Debug" writeTo="ds" />
    <logger name="*" minlevel="Info" writeTo="c" />
  </rules>
</nlog>